@import "tailwindcss";

@theme {
  --color-memoria-background: #FDFCFB;
  --color-memoria-primary: #9B86BD;
  --color-memoria-soft: #F3E5F5;
  --color-memoria-accent: #FFD1DC;
  --color-memoria-mint: #E0F2F1;
  --color-memoria-clay: #4A4E69;
  
  --font-serif: "Playfair Display", serif;
}
